.infoGrid {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  gap: 0.2rem 1rem;
}

.infoGrid > li {
  display: contents;
}

.infoGrid dd ul,
.infoGrid dd ol,
.infoGrid dd li {
  display: inline;
}
.infoGrid dd li:not(:first-child)::before {
  content: ', ';
}

.newSection {
  padding-top: 1em;
}
