.img {
  border-radius: 100%;
}

.img:not(:active) {
  filter: blur(4mm);
}

.subtitle {
  text-align: center;
  font-size: 0.7rem;
}

@media print {
  .subtitleWeb {
    display: none;
  }
}

@media not print {
  .subtitlePrint {
    display: none;
  }
}

@media not screen and (min-width: 768px) {
  .subtitleLarge {
    display: none;
  }
}
