.profilePicWrapper {
  align-self: center;
  display: grid;

  max-width: 6cm;
  margin-left: 2rem;
  margin-right: 2rem;
}

.img {
  width: 0;
  min-width: 100%;
  border-radius: 100%;
}

.img:not(:active) {
  filter: blur(4mm) invert(0.9) hue-rotate(160deg);
}

.subtitle {
  max-width: 200px;

  text-align: center;
  font-size: 0.5rem;
  line-height: 1.5em;
}

.subtitle > p {
  margin: 0;
}

@media print {
  .subtitleWeb {
    display: none;
  }
}

@media not print {
  .subtitlePrint {
    display: none;
  }
}
